@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>NancyController Proof of concept</title>
</head>
<body>
    <div>
        <h1>NancyController Proof of concept</h1>
    </div>
    <div id="Content">
        @RenderBody()
    </div>
</body>
</html>